<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>

    <div class="tab">
      <% i=0 %>
      <% @categories.each do  |category|%>
        <button type="button" name="button" onclick="tabDisplay(<%= i %>)"><%= category.title  %></button>
        <% i+=1 %>
      <% end %>
    </div>

    <% @categories.each do  |category|%>
      <div class="tabcontent">

        <li><%= category.title  %></li>
        <div class="card">
          <ul>
            <% category.tasks.each do |task|  %>
              <li>
                <%= task.title  %>
                <% unless task.deadline.nil? %>
                  , to read: <%= task.deadline.strftime('%D')  %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </ul>
</div>

<div class="back">
 <
</div>
<div class="container">
<div id="galerie">


    <div class="row">
      <% @tasks.each do |task|  %>
        <div class="card col-3">
          <% unless task.image.nil? %>
            <%= image_tag task.image, class: "rounded-circle" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="next">
  >
</div>
